/*==================================
    Author: Nathan Crawford
    peachez-sparkling-kitchens.clean
====================================*/

html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
}
/*===================================
    CONTACT FORM STYLING
=====================================*/
.container form-appt {
    width: auto;
    margin: auto;
    border: 2px solid blue;
    border-radius: 4px;
}